@charset "utf-8";
/*
	Version name:Green-Style-CTC
	Author: DaWei
 	update time: 2013-05-28 19:38:55
	Copyright:的的一百
	Website:dedecms100.com
*/

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "宋体";
	color: #666666;
	background: #ffffff url(../images/body_bg.jpg) no-repeat center top;
	text-align: left;
}
h1, h2, h3, h4, ul, li, dl, dt, dd, p, img {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}
li {
	display: inline;
}
a:link, a:visited {
	color: #51AC11;
	text-decoration: none;
}
a:hover, a:active {
	color: #093;
	text-decoration: underline;
}
img {
	display: block;
}
#header, #nav, #banner, #content, #bot-nav, .footer-container {
	width: 980px;
	margin: 0 auto;
}
/* header */
#header {
	height: 94px;
	padding: 25px 0 0 0;
}
/* nav */
#nav {
	height: 61px;
}
.nav-left {
	display: block;
	float: left;
	width: 13px;
	height: 61px;
	background: url(../images/nav_left_bg.png) no-repeat 0px 0px;
}
.nav-center {
	display: block;
	float: left;
	width: 954px;
	height: 55px;
	padding-top: 6px;
	background: url(../images/global_px.png) repeat-x 0px -369px;
}
.nav-right {
	display: block;
	float: left;
	width: 13px;
	height: 61px;
	background: url(../images/nav_right_bg.png) no-repeat right top;
}
.nav-center li {
	float: left;
	width: 106px;
	height: 35px;
	text-align: center;
	background: url(../images/nav_line.png) no-repeat left top;
}
#nav ul.nav-center li a {
	color: #ffffff;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
}
.nav-center li.home {
	background: none;
}
/* banner */
#banner {
	height: 382px;
}
/* content */
#content {
	height: 300px;
	padding: 9px 0 0 0;
	margin: 8px auto 10px auto;
	background: #ffffff url(../images/content_bg.png) no-repeat center top;
}
.con-top {
	width: 979px;
	height: 86px;
	padding: 0 0 10px 1px;
	border-bottom: 1px #DADADA solid;
}
.con-top li {
	width: 233px;
	height: 86px;
	float: left;
	margin-left: 9px;
	background: url(../images/con_top_item_bg.jpg) no-repeat top;
	overflow: hidden;
}
.con-top li h3 {
	margin: 10px 0 0 10px;
}
.con-top li p {
	margin: 0 10px 0 48px;
	line-height: 150%;
	color: #9797A4;
}
.con-bot {
	clear: both;
	height: 199px;
}
.con-bot h2 {
	display: block;
	height: 36px;
	margin-bottom: 20px;
}
.con-bot h2 a {
	float: left;
}
.con-bot h2 span {
	float: right;
	height: 16px;
	padding: 10px 0;
}
.con-bot-left, .con-bot-con, .con-bot-right {
	float: left;
	height: 179px;
}
.con-bot-left {
	width: 283px;
	padding: 10px 11px 10px 10px;
	background: url(../images/global_px.png) no-repeat right -35px;
	overflow: hidden;
}
.con-bot-left dl dt {
	width: 91px;
	height: 76px;
	float: left;
	padding: 2px;
	border: 1px #CCCCCC solid;
	margin-right: 10px;
}
.con-bot-left dl p {
	line-height: 150%;
}
.con-bot-con {
	width: 374px;
	padding: 10px 11px 10px 0;
	background: url(../images/global_px.png) no-repeat right -35px;
	overflow: hidden;
}
.con-bot-con h2 {
	padding-left: 10px;
}
.con-bot-con ul {
	padding-left: 2px;
}
.con-bot-con ul li {
	width: 116px;
	height: 120px;
	float: left;
	text-align: center;
	margin-left: 8px;
}
.con-bot-con ul li a {
	line-height: 300%;
}
.con-bot-con ul li a.img {
	display: inline-block;
	width: 110px;
	height: 84px;
	border: 1px #cccccc solid;
	padding: 2px;
	text-align: center;
}
.con-bot-con ul li a.img img {
	margin: 0 auto;
}
.con-bot-right {
	width: 271px;
	padding: 10px;
	overflow: hidden;
}
.con-bot-right p {
	line-height: 190%;
}
/* bot-nav */
#bot-nav {
	height: 35px;
	background: url(../images/global_px.png) repeat-x;
	color: #fff;
	line-height: 35px;
	text-align: center;
	margin-bottom: 1px;
}
#bot-nav a {
	color: #fff;
}
#bot-nav span {
	padding: 0 10px;
}
/* bot-frend */
#bot-frend-nav {
	height: 35px;
	background: url(../images/global_px.png) repeat-x 0px -45px;
	color: #fff;
	line-height: 35px;
	text-align: center;
	margin-bottom: 1px;
}
#bot-frend-nav a {
	color: #b2b2b2;
}
#bot-frend-nav span {
	padding: 0 10px;
}
/* footer */
#footer {
	width: 100%;
	height: 87px;
	background: url(../images/global_px.png) repeat-x 0px -234px;
}
.footer-container {
	padding: 20px 0;
}
.copy-right {
	float: left;
	line-height: 180%;
}
.fot-logo {
	float: right;
}
/* list side */
#list {
	width: 960px;
	overflow: hidden;
	padding: 9px 10px 10px;
	margin: 8px auto 10px auto;
	background: #ffffff url(../images/content_bg.png) no-repeat center top;
}
.list-side {
	width: 214px;
	float: left;
}
.list-side h3 {
	width: 214px;
	height: 56px;
	background: url(../images/list_side_h3_bg.jpg) no-repeat center top;
	color: #ffffff;
	text-align: center;
	font: bold 18px 'microsoft yahei', "黑体";
	line-height: 38px;
}
.list-side-nav, .side-p {
	width: 198px;
	background: #F4F4F4;
	margin-left: 7px;
	padding-bottom: 20px;
	border-left: #E0E0E0 1px solid;
	border-right: 1px #E0E0E0 solid;
}
.list-side-nav li {
	display: block;
	width: 178px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px #E0E0E0 solid;
	background: url(../images/list_side_li_dot.jpg) no-repeat left;
	margin-left: 10px;
}
#list ul.list-side-nav li a {
	color: #000000;
	margin-left: 15px;
}
.list-side span.bot {
	display: block;
	width: 214px;
	height: 16px;
	background: url(../images/list_side_bot_bg.jpg) no-repeat center top;
	margin-bottom: 10px;
}
.side-p {
	padding-top: 10px;
}
.side-p p {
	margin: 0 10px;
	line-height: 170%;
}
/* list content */
.list-con {
	width: 734px;
	float: left;
	margin-left: 10px;
}
.map {
	width: 734px;
	height: 48px;
	background: url(../images/global_px.png) repeat-x 0px -321px;
}
.map-l {
	display: block;
	float: left;
	width: 18px;
	height: 48px;
	background: url(../images/map_l.jpg) no-repeat left top;
}
.map h2 {
	float: left;
	height: 17px;
	margin-top: 18px;
	font-size: 14px;
	color: #000;
	padding-left: 26px;
	background: url(../images/ico_01.jpg) no-repeat left;
}
.map-c {
	float: right;
	margin-top: 20px;
	padding-left: 25px;
	background: url(../images/map_ico.jpg) no-repeat left;
	color: #000;
}
#list .map-c a {
	color: #000;
	margin: 0 5px;
}
.map-r {
	display: block;
	float: right;
	width: 18px;
	height: 48px;
	background: url(../images/map_r.jpg) no-repeat right;
}
ul.list {
	width: 704px;
	margin: 0 15px;
	border-top: 1px #7BB76D solid;
}
ul.list li {
	display: block;
	height: 40px;
	border-bottom: 1px #E5E5E5 dotted;
	line-height: 40px;
	text-align: right;
	padding: 0 4px 0 15px;
	background: url(../images/li_ico_01.jpg) no-repeat 4px;
}
#list ul.list li a {
	float: left;
	color: #000;
}
#list .page-list {
	height: 30px;
	margin: 15px auto;
}
#list .page-list li {
	display: inline-block;
	float: left;
	height: 16px;
	line-height: 16px;
	margin: 0 5px;
	padding: 0 5px;
	color: #000;
}
#list .page-list li.thisclass {
	background: #666;
	color: #fff;
}
#list .page-list li a {
	display: inline-block;
	color: #666;
}
/* products */
.list-pic {
	width: 704px;
	margin: 0 auto;
	overflow: hidden;
	border-top: 1px #7BB76D solid;
	padding-top: 10px;
}
.list-pic ul {
	width: 714px;
}
.list-pic li {
	width: 168px;
	height: 165px;
	float: left;
	margin-right: 10px;
	text-align: center;
}
.list-pic li a.pic {
	display: block;
	width: 162px;
	height: 123px;
	padding: 2px;
	border: 1px #ccc solid;
}
.list-pic li a.pic:hover {
	border: 1px #999 solid;
}
.list-pic li a.pic img {
	width: 162px;
}
.list-pic li a {
	line-height: 260%;
}
/* article */
.view-box {
	width: 704px;
	margin: 0 15px;
}
.view-box h1 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}
.view-box div.art-info {
	text-align: center;
	margin-bottom: 10px;
}
.view-box div.content {
	line-height: 140%;
	font-size: 14px;
}
.view-box div.content p {
	padding: 10px 0;
	text-indent: 2em;
}
body .view-box div.content img {
	display: inline;
}
