<div id="bot-nav">
    <a href="{dede:global.cfg_cmsurl/}/">网站首页</a>{dede:channel type='top'}<span>|</span><a href="[field:typeurl/]">[field:typename/]</a>{/dede:channel}<span>|</span>
</div>
<div id="footer">
	<div id="bot-frend-nav">
	{dede:flink type='textall' row='12'}
	 <li>[field:link /]</li>
	{/dede:flink}
	</div>
	<div class="footer-container">
        <p class="copy-right">{dede:global.cfg_powerby/} {dede:global.cfg_beian/} 技术支持：<a href="http://www.ruijianongchang.com/" target="_blank">义达合作社</a></p>
        <a class="fot-logo" href="{dede:global.cfg_basehost/}"><img src="{dede:global.cfg_templets_skin/}/images/logo_footer.gif" width="218" height="48" alt="{dede:global.cfg_webname/}" /></a>
    </div>
</div>