<div id="header">
	<a href="{dede:global.cfg_basehost/}"><img src="{dede:global.cfg_templets_skin/}/images/logo.gif" alt="{dede:global.cfg_webname/}"/></a>
</div>
<div id="nav">
	<span class="nav-left"></span>
    <ul class="nav-center">
    	<li class="home"><a href="{dede:global.cfg_cmsurl/}/">网站首页</a></li>
        {dede:channel type='top' row='8'}
        <li><a href="[field:typeurl/]">[field:typename/]</a></li>
        {/dede:channel}
    </ul>
    <span class="nav-right"></span>
</div>
<div id="banner">
	<img src="{dede:global.cfg_templets_skin/}/images/banner.jpg" width="980" height="382" alt="{dede:global.cfg_webname/}" />
</div>