<link href="{dede:global.cfg_templets_skin/}/qq/qq.css" rel="stylesheet" type="text/css" />
<script src="{dede:global.cfg_templets_skin/}/qq/jquery.min.js"></script>
<script src="{dede:global.cfg_templets_skin/}/qq/jquery.hhService.js"></script>
<script>$(function(){$("#hhService").fix({float:'right',minStatue:false,skin:'green',durationTime:1000})});</script>
<div class="scrollsidebar" id="hhService">
	<div class="side_content">
		<div class="side_list">
			<div class="side_title">
				<a title="隐藏" class="close_btn"><span>关闭</span></a></div>
			<div class="side_center">
				<div class="qqserver">
					<p>
					<a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&uin=297193792&site=qq&menu=yes" target="_blank">
					<img src="http://wpa.qq.com/pa?p=1:123456789:51">售前客服</a></p>
					<p>
					<a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&uin=84876782&site=qq&menu=yes" target="_blank">
					<img src="http://wpa.qq.com/pa?p=1:123456789:51">售前客服</a></p>
					<p>
					<a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes" target="_blank">
					<img src="http://wpa.qq.com/pa?p=1:123456789:51">售后客服</a></p>
					<p>
					<a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes" target="_blank">
					<img src="http://wpa.qq.com/pa?p=1:123456789:51">技术支持</a></p>
				</div>
				<strong>电话:0318-4895678</strong><div class="msgserver">
					<p><a href="http://www.ruijianongchang.com/">在线客服</a></p>
				</div>
			</div>
			<div class="side_bottom">
			</div>
		</div>
	</div>
	<div class="show_btn"><span>在线客服</span></div>
</div>