<div class="list-side">
      <h3>{dede:type typeid='6'}[field:typename/]{/dede:type}</h3>
      <ul class="list-side-nav">
      {dede:channel   type ='son'}
        <li><a href="[field:typeurl/]">[field:typename/]</a></li>
      {/dede:channel}
      </ul>
      <span class="bot"></span>
      <h3>联系我们</h3>
      <div class="side-p">
        <p><script src='{dede:global.cfg_cmsurl/}/plus/mytag_js.php?aid=2' language='javascript'></script></p>
      </div>
    <span class="bot"></span></div>