.box{ width:271px; height:179px; margin:0 auto;}
.bcon{ width:270px; height:179px; border:1px solid #eee; margin:30px auto;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:189px; overflow:hidden;}
.lists_top p a{float:left;}
/* .lists_top p em{width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;} */
.lists_top p em{width:80px; font:normal 12px/24px Arial; color:#FF3300; margin-left:118px;}
.lists_top p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#fff; padding:0 5px; margin-top:0px; display:inline-block; float:right;}
.list_lh li{ padding:1px;}
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li p{ height:24px; line-height:24px;}
.list_lh li p a{ float:left;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
.list_lh li p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#fff; padding:0 5px; margin-top:0px; display:inline-block; float:right;}
.btn_lh:hover{ color:#fff; text-decoration:none;}

.btm p{ font:normal 12px/24px 'Microsoft YaHei'; text-align:center;}
